<!DOCTYPE html>
<html lang="en">
    <head th:fragment="head" th:with="title=${title}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" th:href="@{/css/styles.css}">

        <title th:text="${title} ? #{|ToDo Today - ${title}|} : 'ToDo Today'">ToDo Today</title>
    </head>

    <body>
        <header>
            <nav th:fragment="nav" class="navbar navbar-dlight bg-warning">
                <a class="navbar-brand" href="/">ToDo Today</a>

                <form th:action="@{/logout}" method="post"
                        class="form-inline">

                    <div sec:authentication="name"
                        class="mr-sm-2"></div>

                    <button class="btn btn-dark my-2 my-sm-0"
                            type="submit">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </button>
                </form>

            </nav>
        </header>

        <main>
            <div th:fragment="flash"
                 th:with="flash=${flash}">
                <span th:if="${flash != null}" th:text="${flash.message}"
                      class="text-danger font-weight-bold rounded"
                      style="padding: 3px"></span>
            </div>
        </main>

        <footer th:fragment="footer"
                th:text="|&copy; ${#dates.year(#dates.createNow())} Footer|">
        </footer>
    </body>

</html>



