<!DOCTYPE html>
<html lang="en">
    <head th:replace="base::head"></head>
    <body>
        <header>
            <nav th:replace="base::nav"></nav>
        </header>

        <main>
            <div class="container my-4">

                <div class="list-group">
                    <a th:each="task : ${tasks}"
                        class="list-group-item list-group-item-action">
                            <!-- Toggle task form -->
                            <form th:action="@{/toggleTask}" method="post"
                                  style="cursor: pointer">
                                <input type="hidden" name="id" th:value="${task.id}" />
                                <label class="custom-control custom-checkbox w-100 m-2"
                                       th:th:classappend="${task.complete} ? text-muted : null">
                                    <input type="checkbox" class="custom-control-input"
                                           th:checked="${task.complete}">
                                    <span class="custom-control-indicator"></span>
                                    <del th:remove="${task.complete} ? none : tag">
                                        <span th:text="${task.description}"
                                              class="custom-control-description">-</span>
                                    </del>
                                </label>
                            </form>
                    </a>
                </div>

                <!-- Add new task form -->
                <form th:action="@{/tasks}" method="post"
                      th:object="${newTask}">
                    <div class="input-group my-3">
                    <span class="input-group-addon p-3" id="add-task-plus-icon-addon">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </span>

                    <input th:field="*{description}" class="form-control p-3"
                           placeholder="New task"
                           aria-label="New task"
                           aria-describedby="add-task-plus-icon-addon">
                    </div>
                </form>
            </div>
        </main>

        <footer th:replace="base::footer"></footer>

        <div th:replace="base::scripts"></div>
    </body>
</html>