<!DOCTYPE html>
<html lang="en">
    <head th:replace="base::head"></head>
    <body>
        <header>
            <nav th:replace="base::nav"></nav>
        </header>

        <main>
            <div class="container my-4">

                <div class="list-group">
                    <a th:each="task : ${tasks}"
                        class="list-group-item list-group-item-action"
                        style="cursor: pointer">
                            <label class="custom-control custom-checkbox w-100 m-2">
                                <input type="checkbox" class="custom-control-input"
                                       th:checked="${task.complete}">
                                <span class="custom-control-indicator"></span>
                                <span th:text="${task.description}"
                                      class="custom-control-description">-</span>
                            </label>
                    </a>
                </div>

            </div>
        </main>

        <footer th:replace="base::footer"></footer>
    </body>
</html>